footer.footer {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 0 25px;
    background-color:rgb(24, 26, 27);
    box-shadow: var(--shadow);
    color: rgb(209, 205, 199);
}